$blue: #0a327b;
$red: #f65552;
$very-dark-grey-blue: #1c202b;
$dark-grey-blue: #5e6778;
$grey-blue: #939cad;
$light-grey-blue: #e5effa;
$very-light-grey-blue: #dde7ee;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow: auto;
}

header,
main {
  width: 90%;
  margin: 0 auto;
  max-width: 770px;
}

.header {
  display: flex;
  margin: 24px auto;
  align-items: center;

  &__heading {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 1.563rem;
    color: $very-dark-grey-blue;
  }

  &__number {
    margin-left: 10px;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #ffffff;
    padding: 4px 11px;
    background: $blue;
    border-radius: 6px;
  }

  &__link {
    margin-left: auto;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: right;
    color: $dark-grey-blue;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }
}

main {
  margin-bottom: 30px;

  .card + .card {
    margin-top: 10px;
  }

  .card {
    display: flex;
    padding: 16px;

    &__profile {
      width: 40px;
      height: 40px;
    }

    &__content {
      margin-left: 13px;
    }

    &__text {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: $dark-grey-blue;

      &--name {
        font-weight: 800;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $very-dark-grey-blue;
        cursor: pointer;
        &:hover {
          color: $blue;
        }
      }

      &--link {
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $dark-grey-blue;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $blue;
        }
      }

      &--chess {
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.125rem;
        color: $blue;
        text-decoration: none;
      }

      &--dot {
        &::after {
          display: inline-block;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $red;
          margin-left: 6px;
          margin-bottom: 1px;
        }
      }
    }

    &__time {
      margin-top: 3px;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: $grey-blue;
    }

    &__private {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.125rem;
      color: $dark-grey-blue;
      padding: 16px;
      background: #ffffff;
      border: 1px solid $very-light-grey-blue;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: $light-grey-blue;
      }
    }

    &__attached-img {
      border-radius: 7px;
      width: 40px;
      height: 40px;
      margin-left: 27px;
    }
  }
}
