html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

header,
main {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  margin: 24px auto;
  align-items: center;

  &__heading {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #1c202b;
  }

  &__number {
    margin-left: 10px;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    padding: 4px 11px;
    background: #0a327b;
    border-radius: 6px;
  }

  &__link {
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #5e6778;
    text-decoration: none;
  }
}

main {
  .card + .card {
    margin-top: 10px;
  }

  .card {
    display: flex;
    padding: 16px;

    &__profile {
      width: 40px;
      height: 40px;
    }

    &__content {
      margin-left: 13px;
    }

    &__text {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #5e6778;

      &--name {
        font-weight: 800;
        font-size: 14px;
        line-height: 18px;
        color: #1c202b;
      }

      &--link {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #5e6778;
        text-decoration: none;
      }

      &--chess {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #0a327b;
        text-decoration: none;
      }
    }

    &__time {
      margin-top: 3px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #939cad;
    }

    &__private {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #5e6778;
      padding: 16px;
      background: #ffffff;
      border: 1px solid #dde7ee;
      border-radius: 5px;
    }

    &__attached-img {
      border-radius: 7px;
      width: 40px;
      height: 40px;
      margin-left: 27px;
    }
  }
}
